body
{background-image: url("waterwallpaper.jpg");
background-color: #FDFEFE;}
h1 
{color: white;
  text-shadow: 2px 2px 4px black;}
#introduction
{color: white;
  text-shadow: 2px 2px 4px black;}
#aboutme
{color: white;
  text-shadow: 2px 2px 4px black;
background-color: #5AC2E5;}
